<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
      <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/default.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script language="javascript">'use strict';$(function() {var width = 720; var animationSpeed = 2500; var pause = 5000; var currentSlide = 1;var $sdr1834 = $('#sdr1834'); var $slideContainer = $('.sld', $sdr1834); var $sld = $('.slide', $sdr1834); var interval; function startsdr1834() { interval = setInterval(function() { $slideContainer.animate({'margin-left': '-='+width}, animationSpeed, function() {if (++currentSlide === $sld.length) {currentSlide = 1; $slideContainer.css('margin-left', 0); }});}, pause);} function pausesdr1834() {clearInterval(interval);}$slideContainer.on('mouseenter', pausesdr1834).on('mouseleave', startsdr1834);startsdr1834();});</script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <meta property="og:title" content="The Homestead Café"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://homesteadcafe.github.io/"/>
        <meta property="og:description" content="The Homestead Café is a café based in the heart of Brynmawr next to the Market Hall Cinema. The café has a very varied menu serving a variety of breakfasts, main meals, light meals, paninis, baguettes, rolls and sandwiches. As well as this the café offers daily specials including ..."/>
        <meta property="og:image" content="https://homesteadcafe.github.io/assets/img/homestead_logo.png"/>
        <meta property="fb:app_id" content="826220377773702"/>
    </head>
