<script>
     function setActive() {
      aObj = document.getElementById('myTopnav').getElementsByTagName('a');
      for(i=0;i<aObj.length;i++) { 
        if(aObj[i].pathname==location.pathname||aObj[i].pathname==location.pathname.slice(0,-1)) {
        aObj[i].className='active';
      }
    }
  }
    
window.onload = setActive;
</script>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>


<header role="banner" style="background-color: aquamarine;">
  <div class="container">

   <a class="navbar-brand" href="/" id="home">
      <img src="/assets/img/homestead_logo.png" alt="logo" />
   </a>
   
   <div class="topnav" id="myTopnav">	  
     <a href="/">Home</a>
     <a href="/menu">Menu</a>
     <a href="/about">About</a>
     <a href="/contact-us">Contact us</a> 
     <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars" style="color: white;"></i></a>	     
   </div>
	 
   <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fhomesteadcafe.github.io%2F&width=61&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId" width="61" height="21" style="border:none;overflow:hidden;float:right;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

  </div>
  <hr class="sep">
</header>
